# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!requirements.txt
!.gitattributes
!*.pbix

# And not the DataPuliti folder and its contents
!DataPuliti/
!DataPuliti/**

# But ignore everything else 